

header {

    background-color: #b091ff;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.title{
    color: white;
}
h1,h5{

    margin:0;
}
h5{
    text-decoration: none;
    margin:5px;
}
.currentPage{

    color: #b091ff;

}
body{

    background-color: #adacbc;
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}
section{

    background-color: #ecebf4;

}

h3{

    margin:0;
    padding:0;
    padding-bottom: 20px;
}
#main{

    padding:20px;
}

.nav{
    width: 160px;
    min-height:400px;
    float: left;
    text-align: center;
    background-color: ghostwhite;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom:20px;

}
.pagetitle{

    margin-left: 20px;

}
#newsearchbutton{

    clear:both;

}
form{

    margin-left:40px;
}
.resultblock{

    border:solid;
    padding:5px;
    margin:5px;
    border-width: medium;
    border-color: #b091ff;
    float:left;

}
a{

    text-decoration: none;

}
.main{

    margin-bottom:10px;
    background-color: white;
    width:590px;
   min-height:400px;
    float:right;
    margin-right: 20px;
}
#icon{
    width:590px;
}

footer{

    background-color: #b091ff;
    clear: both;
    text-align: center;
}