

* {
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0 auto;

}

#title {

    color:darkred;
    background-color: darkgray;
    padding-top: 50px;
    text-align: center;
}
h5  {
    text-align: center;
}

#linkOne {

    float:left;
    padding:50px;
}

#linkTwo {

    padding:50px;

}

img{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}
h5  {

    color: red;

}

